
html {
    height: 100%;
}

body {
    height: 100%;
    background-color: darkcyan;
}

.test1 div {
    height: 100px;
    width: 100px;
    background-color: turquoise;
    margin: 20px 0;
    transition: 3s;
}

.test1:hover div {
    margin-left: 500px;
    background-color: purple;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.test2 div {
    height: 100px;
    width: 100px;
    background-color: blue;
    margin: 20px 0;
    transition: 3s;
}

.test2:hover div {
    margin-left: 800px;
    background-color: green;
    border-radius: 50%;
}

.test3 {
    /* display: flex; */
    /* height: 100%; */
    /* transition: 3s; */
    /* margin: 0; */
}

.test3 div {
    height: 100px;
    width: 100px;
    background-color: red;
    margin-left: 500px;
    transition: 1s;
    /* border-radius: 50%; */
}

.test3:hover div,
.test3:active {
    margin-left: 0;
    /* margin-top: 500px; */
    background-color: green;
    border-radius: 50%;
    /* border-radius: 50%; */
}

p {
    position: absolute;
    transform: rotate(45deg);
    z-index: -1;
    left: 50%;
    bottom: 50%;
    font-size: 100px;
}
