* {
    background-color: #33B8FF;
}

.header {
    border: 2px solid black;
    margin: 10px;
}

#title {
    /* text-align: center; */
    color: #363945;
    text-align: center;
}

.pageContainer {
    display: flex;
    height: 100%
}

.nav {
    border: 2px solid black; 
    width: 70px;
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.mainContent {
    border: 2px solid black; 
    margin: 10px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}



.footer {
    height: 50px;
    border: 2px solid black; 
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}